---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'


---

<Layout title="About ME">
  <section class="page-content">
    <div class="container">
      <h2>About ME</h2>
      <p>
        "Hello there! I'm a dedicated and driven student who's passionate about pursuing my dreams and reaching my full potential. I believe that hard work and perseverance are the keys to success, and I'm always willing to go the extra mile to achieve my goals. Whether it's studying late into the night or taking on challenging projects, I'm up for the challenge.
      </p>

      <Card dark={true}>
        <h3>WHAT I DO KNOW!</h3>
        <p>
          I'm still in my learning phase and would love to explore and implement new technologies in my projects.
I'm familiar with HTML, CSS, C++,  Git and Github. I'm currently learning Astro.
        </p>
      </Card>
      <h3>Computer science student at SJEC</h3>
   
    </div>
  </section>
</Layout>