---
import Layout from "../layouts/Layout.astro";
import Social from "../components/social.astro";
const title = "Contact Me!";
---

<Layout title={title}>
  <div id="black">
  <main>
    <h1>{title}</h1>
    <div class="soc">
      <span>  
        If you have a question or just want to say hi,
You can find me on social media</span>
<p>
        <ul>
          <li>
            <Social platform="Github" username="lawrencedsz9">
              <img src="/Github.png" class="logo" />
              <span>you can find my code on <b>GitHub</b>.</span>
            </Social>
          </li>
          <li>
            <Social platform="LinkedIn" username="lawrencedsouza">
              <img src="/linkedin.png" class="logo" /><span>
                View my <b>LinkedIn</b> profile.</span>
            </Social>
          </li>
          <li>
            <a href="mailto:lawrencedsouza125@gmail.com">
              <img src="/email.png" class="logo" />
              <span> Mail me at <b>lawrencedsouza125@gmail.com</b></span></a
            >
          </li>
          <li>
            <Social platform="Twitter" username="lawrencedsouza">
              <img src="/twitter.png" class="logo" /><span>
                Follow me on <b>Twitter</b>.</span>
            </Social>
          </li>
        </ul>
      </p>
    </div>
  </main>
  </div>
</Layout>
<style>
  #black {
    background-color: #000000;
  }

  main {
    margin: 1rem;
    padding: 120px 100px;
    /*max-width: 100vh;
      max-height: 100vh;*/
  }
  a {
    padding: 3px 10px;
    width: 20px;
    background-color: none;
    text-decoration: none;
    align-items: center;
  }

  b:hover {
    background-color: azure;
    color: rgb(5, 49, 95);
    transition: all 250ms ease-in-out;
  }

  .soc {
    text-align: left;
    align-items: center;
    line-height: 3;
  }
  .logo {
    width: 30px;
    transition: all 250ms ease-in-out;
  }
  ul {
    list-style-type: none;
    align-items: center;
    padding: 1rem;
  }

  span {
    color: #fff;
  }
  .logo:hover {
    transform: scale(1.3);
  }

  @media (max-width: 600px) {
    main {
      margin: 0.5rem;
      padding: 0.5rem;
    }
    span {
      font-size: 0.8rem;
    }
    h1 {
      font-size: 2.5rem;
      margin-top: 0px;
    }
  }
</style>
