---
import Layout from '../layouts/Layout.astro';
import ProjectsComponent from '../components/Projects.astro';

const title = 'Projects | Lawrence Dsouza';
---

<Layout title={title}>
	<main>
		<ProjectsComponent />
	</main>
</Layout>

<style>
	main {
		min-height: calc(100vh - 70px);
		background: var(--color-primary);
		padding-top: 70px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>